In [150]:
import pandas as pd

In [151]:
df = pd.read_csv('data/coin.csv')

In [152]:
df.head(2)
df.set_index('번호',inplace=True)

In [153]:
df.sort_index(inplace=True)

In [154]:
df.head(2)

      게시판                              제목       닉네임         등록일   조회수  추천  반대
번호
1   자유게시판                     비캐똥 예상 시나리오  롤렉스데이데이트  2021.08.22  3098   0   0
2   자유게시판  씨발 연봉2080만원으로 고급승용차 뽑았다가 진짜...       우지한  2021.08.22  3545   3   1

In [155]:
import datetime
datetime.datetime.now().strftime('%Y.%m.%d')

'2021.08.30'

In [156]:
df['등록시간'] = [df.등록일[i+1] if len(df.등록일[i+1])<6 else 0 for i in range(len(df.등록일))]
df.등록일 =  ['2021.08.29' if len(df.등록일[i+1])<6 else df.등록일[i+1] for i in range(len(df.등록일))]

In [157]:
df = df[['게시판', '제목', '닉네임', '등록일', '등록시간', '조회수', '추천', '반대']]

In [158]:
import json
import pymysql

In [159]:
with open('data/mysql.json', 'r') as file: 
    config_str = file.read() 
    config = json.loads(config_str)

In [160]:
sql = "DROP TABLES coinlist;"
conn = pymysql.connect(**config)
cur = conn.cursor()
cur.execute(sql)

0

In [161]:
sql = """
    CREATE TABLE if NOT EXISTS coinlist(
    NO INT NOT NULL PRIMARY KEY AUTO_INCREMENT,
    notice_board varCHAR(15),
    title varCHAR(60),
    author varCHAR(25),
    cdate DATE,
    ctime time(4),
    readed INT,
    rec INT,
    opp INT  
    )AUTO_INCREMENT=1;
"""

In [162]:
conn = pymysql.connect(**config)
cur = conn.cursor()
cur.execute(sql)

0

In [163]:
sql ="INSERT INTO coinlist VALUES(%s, %s, %s, %s, %s, %s, %s, %s, %s)"
cur = conn.cursor()
for i in range(len(df)):
    try:
        a=[]
        a.append(df.index[i])
        a.extend(df.T[i+1])
        cur.execute(sql,a)
    except:
        print(i)
conn.commit()
#중간에 ctime 양식이 바뀐다

In [164]:
conn.close()
cur.close()